@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
/* buttons */
.btn {
  padding: 2rem 3rem;
  border-radius: 2.5rem;
}
.btn-primary {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn-secondary {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
  display: inline-block;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #ddd;
  transition: all 0.3s;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #444;
  transition: all 0.3s;
}
/* header */
.main-nav {
  padding: 2rem;
  overflow: hidden;
  text-align: center;
}

.main-nav .link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1.5rem;
  padding: 2rem;
  letter-spacing: 0.2rem;
}
.main-nav .link:hover,
.main-nav .link:active,
.main-nav .link:focus {
  color: #ddd;
  transform: translateY(-2px);
}

.header {
  height: 100vh;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(header-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header--box {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.header--title {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 0.2;
  font-family: "Sofia", cursive;
  line-height: 100%;
}
.header--title:after {
  display: block;
  height: 5px;
  width: 10rem;
  background-color: #fff;
  content: "";
  margin: 3rem auto 2rem auto;
}
.header--subtitle {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto", serif;
  letter-spacing: 0.2rem;
  line-height: 120%;
  margin-bottom: 5rem;
}
/* about */
.about {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about--box {
  padding: 1% 5%;
  text-align: center;
}
.about--title {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.2;
  line-height: 100%;
  margin-bottom: 3rem;
}
.about--title:after {
  display: block;
  height: 5px;
  width: 5rem;
  background-color: #000;
  content: "";
  margin: 3rem auto 0 auto;
}
.about--txt {
  font-size: 1.5rem;
  line-height: 145%;
  text-align: justify;
}
.img--box {
  padding: 10% 5%;
}
.about-img {
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
}
/* newsletter */
.newsletter {
  background-color: #272727;
  padding: 1% 3%;
  margin: 0 4rem;
}
.newsletter--title {
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: #f59c9c;
  text-align: center;
}
.newsletter--txt {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: #ccc;
}
.newsletter--subscribe {
  border: 2px solid #bbb;
  margin: 1rem auto;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  display: block;
  color: #bbb;
}
/* menu */
.menu {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.menu--title {
  /* margin-top: 2.5rem; */
  padding-top: 2rem;
  font-weight: 700;
  font-size: 4.5rem;
  color: #000;
  text-align: center;
  font-family: "Sofia", cursive;
}
.menu--title:after {
  display: block;
  height: 5px;
  width: 5rem;
  background-color: #000;
  content: "";
  margin: 2rem auto 0 auto;
}
.food--box {
  padding: 1% 3%;
}
.menu--food {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #6e2c00;
}
.food--txt {
  font-size: 1.3rem;
  text-align: center;
  display: block;
  font-weight: 500;
  text-decoration: underline;
}
.food--img {
  width: 100%;
  height: 20rem;
  border: 2px solid #ddd;
  border-radius: 2.5rem;
}
.food--img:hover,
.food--img:active {
  transform: translateY(-0.8rem);
  overflow: hidden;
  transition: all 0.2s;
}
/* blog */
.blog {

}
.blog--header {
  /* margin-top: 2.5rem; */
  padding-top: 2rem;
  font-weight: 700;
  font-size: 4.5rem;
  color:  #C70039;
  text-align: center;
  font-family: "Sofia", cursive;
}
.blog--header:after {
  display: block;
  height: 5px;
  width: 5rem;
  background-color:#C70039;
  content: "";
  margin: 2rem auto 2rem auto;
}
.blog--box {
  padding:1% 3%;
}
.blog--title {
  font-size:2.5rem;
  font-weight: 500;
  margin: 1rem 2rem;
  text-align:center;
  color:  #C70039;
  letter-spacing: 1.3;
}
.blog--img {
  width: 100%;
  height: auto;
  border-radius: 3.5rem;
}
.blog--img:hover {
  opacity: 0.8;
  transition: all .5s;
}
.blog--txt {
  font-size:1.5rem;
  text-align: justify;
  line-height: 145%;
}
.blog--more {
  text-decoration: underline;
  font-size:1.5rem;
  color: #C70039;
  margin-top:1rem;
  text-align: end;
  display: block;
}
.blog--more:hover {
  color: #7b0023;
}
/* gallery */
.gallery--box {
  padding:1% 3%;
}
.gallery--img {
  height: auto;
  width: 100%;
}
.gallery--img:hover,
.gallery--img:active {
  filter: brightness(50%);
  transition: all .5s;
}

.footer {
  height: 10rem;
  background-color: #C70039;
}
.footer--txt {
  color:#fff;
  display: block;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-top: 5rem;
}